# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native build directories
android/build/
android/app/build/
android/.gradle/
ios/build/
ios/Pods/

# Temp/Cache files
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
*.tsbuildinfo
